<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dao.BookMapper">

    <select id="getBookCaseList" resultType="BookCase">
        select * from library.bookcase;
    </select>

    <select id="getBookCaseById" resultType="BookCase">
        select * from library.bookcase where id=#{id};
    </select>
</mapper>